<div class="title-container">
  <label class="title">GRID</label>
</div>

<div class="container">
  <table class="card-shadow">
    <thead>
      <tr>
        <th *ngFor="let f of fields">
          <label [ngStyle]="fieldStyles[f+'#LABEL'].css">{{fieldStyles[f+"#LABEL"].title}}</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let f of fields">Value</td>
      </tr>
      <tr>
        <td *ngFor="let f of fields">Value</td>
      </tr>
      <tr>
        <td *ngFor="let f of fields">Value</td>
      </tr>
      <tr>
        <td *ngFor="let f of fields">Value</td>
      </tr>
    </tbody>
  </table>
</div>