<div class="title-container">
  <label class="title">GRID</label>
</div>

<div class="container">
  <table class="card-shadow">
    <thead>
      <tr>
        <th [appOrdable]="fields" [id]="f" *ngFor="let f of fields">
          <input class="editableLabel" type="text" 
                [ngStyle]="getStyle(f+'#LABEL').css" 
                [(ngModel)]="getStyle(f+'#LABEL').title" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td *ngFor="let f of fields; let i=index">
          <label>{{d[f]}}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>