
th, td {
    padding: 8px;
    text-align: left;
    font-weight: normal;
}

table {
    table-layout: fixed;
    width: 100%;
    background-color: white;
    position: relative;
    top: -30px;
    border: 0;
    border-collapse: collapse;
}

tbody {
    tr {
        border-bottom: 1px solid #EBF2F7;
        color: #909396;

        &:hover {
            background-color: #ddd;
        }
    }
}

thead {
    border-bottom: 1px solid #EBF2F7;
}

thead input {
    color: #95a0b9;
    width: 100%;
}

.container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}