<ul>
  <li>
    <div class="header-container">
      <div>Field</div>
      <div>Label</div>
      <div>Weight</div>
      <div>Color</div>
    </div>
  </li>
  <li class="item" #listItem draggable="true" 
                        (dragenter)="onDragEnter($event, listItem)"
                        (dragover)="onDragOver($event, listItem)"
                        (dragstart)="onDragStart($event, listItem)" 
                        (drop)="onDrop($event, listItem)"
                        *ngFor="let f of fields"
      [id]="f">
    <div class="field-container">
      <div>{{f}}</div>
      <div><input type="text" [(ngModel)]="fieldStyles[f+'#LABEL'].title" /></div>
      <div>
        <select [(ngModel)]="fieldStyles[f+'#LABEL'].css['font-weight']">
          <option *ngFor="let weight of fontWeights" [value]="weight">{{weight}}</option>
        </select>
      </div>
      <div>
        <input type="color" [(ngModel)]="fieldStyles[f+'#LABEL'].css['color']"/>
      </div>
    </div>
  </li>
</ul>

<!-- <button (click)="print()">print</button> -->