.field-container {
    display: flex;
    flex-direction: row;
    margin: 8px;

    &>div {
        flex-grow: 1;
        flex-basis: 0;
    }
}

li {
    list-style: none;
}

select {
    width: 90%;
}

.over {
    background-color: pink;
}