<table class="card-shadow">
  <thead>
    <tr>
      <th>FIELD</th>
      <th>LABEL</th>
      <th>WEIGHT</th>
      <th>COLOR</th>
    </tr>
  </thead>
  <tbody>
    <tr #listItem draggable="true" 
      (dragenter)="onDragEnter($event, listItem)" 
      (dragover)="onDragOver($event, listItem)"
      (dragstart)="onDragStart($event, listItem)"
      (dragend)="onDragEnd($event, listItem)"
      (drop)="onDrop($event, listItem)" 
      *ngFor="let f of fields" [id]="f">
      <td>
        <label>{{f}}</label>
      </td>
      <td>
        <input class="label" type="text" [(ngModel)]="fieldStyles[f+'#LABEL'].title" />
      </td>
      <td>
          <select [(ngModel)]="fieldStyles[f+'#LABEL'].css['font-weight']">
            <option *ngFor="let weight of fontWeights" [value]="weight">{{weight}}</option>
          </select>
      </td>
      <td>
        <input type="color" [(ngModel)]="fieldStyles[f+'#LABEL'].css['color']" />
      </td>
    </tr>
  </tbody>
</table>

<!-- <button (click)="print()">print</button> -->