<div class="container">
  <div class="controls-container card-shadow">
    <!-- <button (click)="toggle()">SHOW</button> -->
    <div>
      <app-list [fields]="fields" 
                [fieldStyles]="styler.fieldStyles"
                [data]="data"></app-list>
    </div>

    <div>
      <app-grid [fields]="fields" 
                [fieldStyles]="styler.fieldStyles"
                [data]="data"></app-grid>
    </div>
  </div>
  <div #styleContainer class="style-container">
    <app-field-styler #styler [fields]="fields"></app-field-styler>
  </div>
</div>