$transition: 600ms;
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #D2D7E5;
}

.controls-container {
    border-right: 1px solid #ddd;
    z-index: 1000;
    flex:1;
}

.style-container {
    background-color: #e2e1e0;
    padding: 20px;
    flex: 0 0 10px;
}
