.controls-container {
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

.style-container {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #e2e1e0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}