<div class="title-container">
  <label class="title">LIST</label>
</div>
<div class="list-container">
  <ul class="card-shadow">
    <li *ngFor="let d of data">

      <ul class="list-item-container">
        <li [appOrdable]="fields" [id]="f" *ngFor="let f of fields; let i = index">
            <div class="item-container">
              <div class="label-container">
              <input class="editableLabel" type="text" 
                      [ngStyle]="getStyle(f+'#LABEL').css" 
                      [(ngModel)]="getStyle(f+'#LABEL').title" />
              </div>
              <div class="value-container">
                  <label>{{d[f]}}</label>
              </div>
            </div>
        </li>
      </ul>

    </li>
  </ul>
</div>