li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ddd;

    &>label {
        flex-grow: 1;
        flex-basis: 0;
    }

    &:hover {
        background-color: #ddd;
    }
}

ul {
    margin: 0;
    padding: 0;
}